<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content center">
    <div class="row">
      <%= form_for :form, url: forms_path  do |f| %>
      <form class="col s6">
        <div class="row">
          <div class="input-field offset-s2 col s8">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :name, required:true, id: "FullName", class:"materialize-textarea validate" %>
            <%= f.label :Full_Name, for: "FullName" %>
            <!-- <label for="FullName">Full Name</label> -->
          </div>
        </div>
        <div class="row">
        <div class="input-field offset-s2 col s8">
           <i class="material-icons prefix">email</i>
           <%= f.email_field :email, required:true, id: "email", type: "email", class:"materialize-textarea validate" %>
           <%= f.label :your_email, for: "Email" %>
           <!-- <label for="email">Email Address</label> -->
         </div>
       </div>
       <div class="input-field offset-s2 col s8 center">
         <%= f.text_field :message, required:true, id: "input_text", class:"materialize-textarea validate" %>
         <%= f.label :type_your_message, for: "message" %>
         <!-- <label for="message">Your Message</label> -->
       </div>
       <div class="hidden">
         <%= f.label :nickname %>
         <%= f.text_field :nickname, hint: 'Leave this field blank' %>
       </div>
         <%= f.submit 'Send Message', class: "modal-action modal-close btn waves-effect waves-light" %>
      </form>
      <% end %>
    </div>
  </div>
</div>
