<!DOCTYPE html>
<html>
<head>
  <title>Rj Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="col s12 m6 l8">
  <%= render 'forms/form' %>
  <%= render 'layouts/navbar' %>
  <%= yield %>
</body>
<footer class="page-footer teal accent-4">
  <%= render 'layouts/footer' %>
</footer>
</html>
